version: '3.8'

services:
  mariadb:
    image: docker.arvancloud.ir/mariadb:latest
    restart: always
    environment:
       MYSQL_ROOT_PASSWORD: Online12@
       MYSQL_DATABASE: uniCourseHub_test
       MYSQL_USER: uniCourseHub_user
       MYSQL_PASSWORD: userpassword
    ports:
      - '3306'

    volumes:
      - mariadb_data:/var/lib/mysql

  backend:
    image: mobinch004/uni-course-hub:latest
    restart: always
    environment:
       DB_PORT: 3306
       DB_NAME: uniCourseHub_test
       DB_USERNAME: root
       DB_PASSWORD: Online12@
       MAX_POOL_SIZE: 80
       MIN_POOL_SIZE: 10
       DB_SQL_SHOW: true

    ports:
      - '9095:8081'

volumes:
  mariadb_data: {}

networks:
  default:
    name: uniCourseHub_network